* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}

.page {
    position: absolute;
    height: 100vh;
    width: 100vw;
}

.content {
    position: relative;
    height: 100vh;
    width: 100vw;
    padding-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Todo: CONTENT PANEL*/
.content-panel {
    visibility: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
    border: 1px inset white;
    margin: 3vh 0 3vh 0;
    max-height: 90%;
    max-width: 90%;
    border-radius: 1em;
    transition: all 1s;
    animation-name: open;
    animation-delay: 1s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    display: flex;
    /*flex-direction: row;*/
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@keyframes open {
    from {
        visibility: hidden;
        height: 0;
        width: 0;
    }
    to {
        height: 90%;
        width: 90%;
        visibility: visible;
    }

}

/*Todo: Individual Panels*/
.panels {
    height: 30%;
    width: 90%;
    /*height: 50%;*/
    /*width: 30%;*/
    border: 1px outset antiquewhite;
    border-radius: 1em;
    margin: 2%;
    animation-name: show;
    animation-delay: 1.1s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.panels:hover{
    cursor: pointer;
    background: rgba(211, 211, 211, 0.75);
}

/*Todo: Individual Panel Information*/
.panels-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scale: 0;
    animation-name: resize;
    animation-fill-mode: forwards;
    animation-delay: 1.3s;
    animation-duration: 1.5s;
}

.info-title{
    font-size: 25px;
    margin-bottom: 2%;
}

@keyframes show {
    from {
        /*display: none;*/
        visibility: hidden;
    }
    to {
        /*display: flex;*/
        visibility: visible;
    }
}


/*Todo: GREETING MESSAGE*/
.greeting {
    display: flex;
    justify-content: center;
    animation-name: resize;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    transition: all 1s;
    color: white;
    font-size: 3vh;

}

@keyframes resize {
    from {
        scale: 0;
    }
    to {
        scale: 1;
    }
}
