
.loginContent {
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainForm {
    height: 60vh;
    width: 70vw;
    min-height: 30vh;
    min-width: 40vw;
    display: flex;
    flex-direction: column;
    padding-top: 5vh;
    justify-content: flex-start;
    align-items: center;
    background: rgba(119, 136, 153, 0.31);
    border-radius: 1em;
    border: 1px inset rgba(205, 92, 92, 0.49);
    animation-name: resize;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    transition: all 1s;
    zoom: unset;
}

.mainForm > label {
    padding: 3vh 0 3vh 0;
    font-size: 3vh;
}

.mainForm > input {
    height: 5vh;
    width: 80%;
    color: black;
    font-size: 3vh;
    zoom: unset;
}
.mainForm > button{
    margin-top: 7vh;
    height: 5vh;
    width: 80%;
    color: black;
    font-size: 3vh;
}

.logoutBtn{
    position: absolute;
    top: 0;
    right: 0;
    margin: 2vh 2vw 0 0;
    background: none;
    border: 1px solid floralwhite;
    height: 5vh;
    width: 15vw;
    border-radius: 1em;
    font-size: 1.5vh;
    animation-name: resize;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    transition: all 1s;
}

.backBtn{
    position: relative;
    margin-top: 5vh;
    bottom: 0;
    left: 0;
    right: 0;
    background: none;
    border: 1px solid floralwhite;
    height: 10vh;
    width: 50vw;
    border-radius: 1em;
    font-size: 1.5vh;
    animation-name: resize;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    transition: all 1s;
}
@keyframes resize {
    from {
        scale: 0;
    }
    to {
        scale: 1;
    }
}

