<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragments :: head('Portal | Home')"></head>
<body>


<img class="page" th:src="@{~/images/content-screen.png}" alt="">
<div class="content">
    <button class="logoutBtn" type="button">Logout</button>
    <h1 class="greeting" th:text="${'WELCOME ' + user}"></h1>
    <div class="content-panel">
        <div class="panels">
            <div class="panels-info">
                <h3 class="info-title">Register Employee</h3>
                <i class="fa-solid fa-users fa-7x"></i>
            </div>
        </div>
        <div class="panels">
            <div class="panels-info">
                <h3 class="info-title">Online Store</h3>
                <i class="fa-solid fa-money-check-dollar fa-7x"></i>
            </div>
        </div>
        <div class="panels">
            <div class="panels-info">
                <h3 class="info-title">Messages</h3>
                <i class="fa-regular fa-envelope fa-7x"></i>
            </div>

        </div>
    </div>
</div>

<script th:src="@{~/js/portal.js}"></script>
</body>
</html>