<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragments :: head('Portal | Add Clothing')"></head>
<body>

<div class="page">
    <div class="content">
        <button class="logoutBtn" type="button">Logout</button>
        <h1 style="margin-bottom: 2vh!important;" class="greeting">Add Your Clothing!</h1>
<!--        <div class="content-panel">-->
            <form class="subForm" th:action="@{/shop/add-clothing}" th:method="post">
                <div th:if="${error == true}">
                    <div class="errorMessage">there was an issue creating this product</div>
                </div>
                <div style="display: flex" th:if="${photoIssue == true}">
                    <div class="errorMessage">PHOTO ISSUE: </div>
                    <div style="color:lawngreen " class="errorMessage">need to add photo first or contact kevin</div>
                </div>
<!--                <button id="addPhoto" type="button">Add Photo</button>-->
                <label for="name">Name</label>
                <input id="name" type="text" name="name">
                <label style="margin-top: 1vh!important;" for="color">Color</label>
                <input id="color" type="text" name="color">
                <label for="size" style="margin-top: 1vh!important;">Size</label>
                <select name="size" id="size">
                    <option value="">Click to see options</option>
                    <option value="S">Small</option>
                    <option value="M">Medium</option>
                    <option value="L">Large</option>
                    <option value="XL">Extra Large (XL)</option>
                    <option value="XXL">Extra Large (XXL)</option>
                    <option value="3XL">Extra Large (3XL)</option>
                </select>

                <label for="category">Category</label>
                <select name="category" id="category">
                    <option value="">Click to see options</option>
                    <option value="shirt">Shirt</option>
                    <option value="uniform">Uniform</option>
                    <option value="belts">Belts</option>
                </select>

                <label for="price">Price</label>
                <input id="price" type="text" name="price" value="$">
                <input id="test" type="hidden" name="test">
                <button id="addPhoto" type="button">Add Photo</button>
<!--                <input name="_csrf" type="hidden" th:each="cookie: ${#httpServletRequest.cookies}" th:if="${cookie.name == 'Idea-4c161dd1'}" th:value="${cookie.value}">-->
<!--                <button type="submit">Create</button>-->
            </form>
            <button style="margin-top: 2vh!important; margin-bottom: 2vh!important; animation-delay: 1s!important;" class="backBtn">GO BACK</button>
<!--        </div>-->
    </div>
</div>

<script th:src="@{~/js/back-button.js}"></script>
<script th:src="@{~/js/keys.js}"></script>
<script th:src="@{~/js/filestack.js}"></script>

<script>
    let logout = document.querySelector('.logoutBtn')
    if (logout != null) {
        logout.addEventListener('click', () => {
            logout.style.background = "rgba(132,132,135,0.55)"
            window.location.assign("/logout")
        })
    }
</script>

</body>
</html>